In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from scipy.stats import pearsonr

## BUSINESS PROBLEM-1

### a. Intrest rate is varied for different loan amounts (Less intrest charged for high loan amounts)

In [2]:
Loan_data = pd.read_csv("LoansData.csv")

In [3]:
cut_labels = ["lower","higher"]
Loan_data["size.of.loan"] = pd.qcut(Loan_data["Amount.Requested"], q = [0,.5,1], labels = cut_labels)

    Null Hypothesis: The interest rate charged by Lending Club is the same for all loan amounts, regardless of whether the loan amount is high or low.

    Alternative Hypothesis: The interest rate charged by Lending Club varies depending on the loan amount, with lower interest rates charged for higher loan amounts.
 Set the significance level:
Let's set the significance level at 0.05, meaning we are 95% confident in our results.

In [4]:
Loan_data["Interest.Rate"] = Loan_data["Interest.Rate"].str.replace("%"," " )
Loan_data["Interest.Rate"] = Loan_data["Interest.Rate"].astype(float)
Loan_data[Loan_data["Interest.Rate"].isna()]
Loan_data["Interest.Rate"].fillna(0,inplace = True)

In [5]:
lower_amount = Loan_data[Loan_data["size.of.loan"] == "lower"]
higher_amount = Loan_data[Loan_data["size.of.loan"] == "higher"]

In [147]:
t_value,p_value = stats.ttest_ind(higher_amount["Interest.Rate"],lower_amount["Interest.Rate"],equal_var=False)
print('t value =', t_value)
print('p value =', p_value)
if p_value < 0.05:
    print("we reject the null hypothesis")
else:
    print("we accept null hypothesis")

t value = 12.65880512731498
p value = 1.334989150670319e-35
we reject the null hypothesis

If the p-value is less than the significance level (0.05), we reject the null hypothesis, p value is almost equal to zero. so we strongly reject the the null hypothesis, so the intrest rate are varierd for different loan amount

### b. Loan length is directly effecting intrest rate

In [ ]:
Loan_data["Loan.Length_in_num"] = Loan_data["Loan.Length"].str.replace("months"," ")
Loan_data["Loan.Length_in_num"] = Loan_data["Loan.Length_in_num"].astype(int)

    Null Hypothesis: There is no significant relationship between loan length and interest rate.

    Alternative Hypothesis: There is a significant relationship between loan length and interest rate.
    
    Set the significance level: Let's set the significance level at 0.05, meaning we are 95% confident in our results.

In [ ]:
interest_rate = Loan_data["Interest.Rate"]
loan_length = Loan_data["Loan.Length_in_num"]

# Compute the Pearson correlation coefficient and p-value
corr_coeff, p_value = pearsonr(interest_rate, loan_length)

# Interpret the results
if p_value < 0.05:
    print("There is a significant correlation between loan length and interest rate")
else:
    print("There is not enough evidence to suggest a significant correlation between loan length and interest rate")

print('p value =', p_value)
print('correlation =', corr_coeff)

### c. Intrest rate varies for different purpose of loans


    Null hypothesis: The mean interest rate is the same for all loan purposes.
    Alternative hypothesis: The mean interest rate is varies for different loan purpose.
    Set the significance level: Let's set the significance level at 0.05, meaning we are 95% confident in our results.

In [ ]:
# Group the interest rate data by loan purpose
loan_purpose_groups = Loan_data.groupby('Loan.Purpose')['Interest.Rate'].apply(list)

# Perform ANOVA test
f_value, p_value = stats.f_oneway(*loan_purpose_groups)

print("F value:", f_value)
print("P value:", p_value)

# Interpret the results
if p_value < 0.05:
    print("Interest rate varies for different purposes of loans")
else:
    print("Interest rate does not vary for different purposes of loans")

## BUSINESS PROBLEM-2

### a.  We would like to assess if there is any difference in the average price quotes provided by Mary and Barry.

In [9]:
Price_Qoutes = pd.read_csv("Price_Quotes.csv")

    Null hypothesis : their is no difference in average price quotes provided by Mary and Bary
    alternative  hypothesis : their is some difference in average price quotes provided by Mary and Bary
    Set the significance level: Let's set the significance level at 0.05, meaning we are 95% confident in our results

In [10]:
# performing t test
t_value , p_value = stats.ttest_ind(Price_Qoutes["Barry_Price"],Price_Qoutes["Mary_Price"])
print(p_value)
print(t_value)

# Interpret the results
if p_value < 0.05:
    print("Reject null hypothesis, there is significance difference in the average price quotes privides by Mary and Barry")
else:
    print( "there is no  difference in the average price quotes privides by Mary and Barry")

0.17114226132118285
1.4147436739281787
there is no  difference in the average price quotes privides by Mary and Barry

## BUSINESS PROBLEM-3

In [11]:
Treatment_Facility = pd.read_csv("Treatment_Facility.csv")

### Determine what effect, if any, the reengineering effort had on the  incidence behavioral problems and staff turnover. i.e To determine if the reengineering effort changed the critical incidence rate. Is there evidence that the critical incidence rate improved?

    Null hypothesis: The reengineering effort did not have any effect on the incidence of behavioral problems and staff turnover.

    Alternative hypothesis: The reengineering effort had an effect on the incidence of behavioral problems and staff turnover, leading to an improvement in the critical incidence rate.

In [77]:
Treatment_Facility_prior = Treatment_Facility[Treatment_Facility["Reengineer"] == "Prior"]
Treatment_Facility_post = Treatment_Facility[Treatment_Facility["Reengineer"] == "Post"]

# performing test using one way anova
f_value,p_value = stats.f_oneway(Treatment_Facility_prior["VAR5"],Treatment_Facility_post["VAR5"])
print(f_value)
print(p_value)
print("\n")

# Interpret the results
if p_value < 0.05:
    print("The reengineering effort had an effect on the incidence of behavioral problems and staff turnover, leading to an improvement in the critical incidence rate.")
else:
    print("The reengineering effort did not have any effect on the incidence of behavioral problems and staff turnover.")

2.650105376271948
0.12091989189884142


The reengineering effort did not have any effect on the incidence of behavioral problems and staff turnover.

In [69]:
Treatment_Facility_post

    Month Reengineer  Employee_Turnover       VAR4       VAR5
13     14       Post            26.6667   9.708738  29.126214
14     15       Post            17.9487   4.201681  21.008403
15     16       Post            12.8205  13.043478  34.782609
16     17       Post            15.7895   9.950249  19.900498
17     18       Post             0.0000   9.950249   9.950249
18     19       Post            30.7692   8.510638  25.531915
19     20       Post            26.8293   9.259259  23.148148

## BUSINESS PROBLEM-4

### We will focus on the prioritization system. If the system is working, then high priority jobs, on average, ###should be completed more quickly than medium priority jobs, and medium priority jobs should be completed more quickly than low priority jobs. Use the data provided to determine whether thisis, in fact, occurring.

In [13]:
Priority_Assessment = pd.read_csv("Priority_Assessment.csv")
high = Priority_Assessment[Priority_Assessment["Priority"] == "High"]["Days"]
medium = Priority_Assessment[Priority_Assessment["Priority"] == "Medium"]["Days"]
low = Priority_Assessment[Priority_Assessment["Priority"] == "Low"]["Days"]

    Null hypothesis: There is no significant difference between the average completion times of high, medium, and low priority jobs.

    Alternative hypothesis: There is a significant difference between the average completion times of high, medium, and low priority jobs.

In [14]:
# performing anova
t_value, p_value = stats.f_oneway(high,medium,low)

print(t_value)
print(p_value)
print("\n")

# Interpret the results
if p_value < 0.05:
    print("Reject null hypothesis,There is a significant difference between the average completion times of high, medium, and low priority jobs.")
else:
    print( "There is a significant difference between the average completion times of high, medium, and low priority jobs.")

1.812311010076072
0.16411459461716182


There is a significant difference between the average completion times of high, medium, and low priority jobs.

## BUSINESS PROBLEM-5

In [15]:
Films = pd.read_csv("Films.csv")

###  What isthe overall level of customer satisfaction?

In [19]:
# Calculate sample mean and standard deviation
mean_statisfactio = Films["Overall"].mean()
std_satisfaction = Films["Overall"].std()

# Determine sample size and confidence level
n = len(Films["Overall"])
conf_level = .95

# Calculate t-value and margin of error
t_value = stats.t.ppf((1 + conf_level) / 2, n - 1)
ME = t_value * (std_satisfaction / np.sqrt(n))

# Calculate confidence interval
lower_bound = mean_statisfactio - ME
upper_bound = mean_statisfactio + ME

# Print results
print("Sample mean: ", mean_statisfactio)
print("Margin of error: ", ME)
print(f"95% confidence interval: {[round(lower_bound,2),round(upper_bound,2)]} ")

Sample mean:  1.6189024390243902
Margin of error:  0.07464338860431029
95% confidence interval: [1.54, 1.69]

### What factors are linked to satisfaction?

In [20]:
Films
correlation = Films[["Sinage", "Parking", "Clean", "Overall"]].corr()
print(correlation)

           Sinage   Parking     Clean   Overall
Sinage   1.000000  0.470322  0.349163  0.382881
Parking  0.470322  1.000000  0.444368  0.516585
Clean    0.349163  0.444368  1.000000  0.349412
Overall  0.382881  0.516585  0.349412  1.000000

###  What is the demographic profile of Film on the Rocks patrons?

In [22]:
Films["Gender"].replace({"Female": 2, "Male": 1}, inplace=True)
Films["Marital_Status"].replace({"Married": 1 ,"Single" : 2 },inplace=True)
Films["Marital_Status"].replace({"Slngle" : 2 },inplace=True)
Films.dropna(inplace = True)
Films["Gender"] = Films["Gender"].astype(int)
Films["Marital_Status"] = Films["Marital_Status"].astype(int)

In [64]:
gender = round(((Films.groupby("Gender")["Gender"].count())/Films["Gender"].count())*100,2)
Marital_Status = round(((Films.groupby("Marital_Status")["Marital_Status"].count())/Films["Marital_Status"].count())*100,2)
Age = round(((Films.groupby("Age")["Age"].count())/Films["Age"].count())*100,2)
Income = round(((Films.groupby("Income")["Income"].count())/Films["Income"].count())*100,2)
gender = gender.rename(index={1: 'Male', 2: 'Female'})
Marital_Status = Marital_Status.rename(index={1: 'married', 2: 'single'})
Age = Age.rename(index={1: '1-12', 2: '13-30',3 :'31-60', 4 : '60+'})
Income = Income.rename(index={1: 'Less than $50,000', 2: '$50-$100,000',3 :'$100,000+'})
demographics = pd.concat([gender,Marital_Status, Age, Income], keys = ["gender","Marital_Status", "Age", "Income"], axis=0)
print(f"Demographic profile percentage of film on the Rocks patrons \n {demographics}")

Demographic profile percentage of film on the Rocks patrons
 gender          Male                 35.22
                Female               64.78
Marital_Status  married              30.23
                single               69.77
Age             1-12                  7.31
                13-30                54.49
                31-60                35.88
                60+                   2.33
Income          Less than $50,000    44.85
                $50-$100,000         26.58
                $100,000+            28.57
dtype: float64

### In what media outlet(s) should the film series be advertised?

In [144]:
counts = {}
for j in range(1, 6):
    count = 0
    for i in range(len(Films['Hear_About'])):
        if str(j) in Films['Hear_About'].iloc[i]:
            count += 1
    counts[j] = count

media_counts = pd.DataFrame.from_dict(counts, orient='index', columns=['count'])
media_counts.sort_values(ascending = False,by = "count",inplace = True)
media_counts = media_counts.rename(index = { 1 : "television", 2 : "newspaper", 3 : "radio", 4 : "website", 5 : "word of mouth"})
media_counts

               count
word of mouth    218
website           42
television        20
radio             15
newspaper         13

so through word of mouth most of Films heared about the show, and second most is website , so its better to advertise in these, and least heared about is newspaper, so its better to avoid it. no other demographic detail is related to it